#title{
    padding-top:30px;
    padding-bottom: 30px;
    
    
}
.numin{
    height:100px;
    width:100px;
    font-size: 70px;
    text-align: center;
    
}
div.container{
    background-color: rgba( 216, 252, 219, 0.995 );
    
}
