/*****************header field ***************************/
.header{
    background-color:red;
    padding-top: 30px;
    padding-bottom: 30px;
}


/*****************navigation bar ******************/
#bar{
    list-style-type: none;
    padding: 0px 0px 0px 0px;
    margin: auto;
    

    
}
.nlist{
    float: left;
    
    border: 1px solid blue;
    font-size: 25px;
    padding: 5px 50px 5px 50px;
    background-color: black;
    
    
    
}
a{
    display: block;
}


/***************content field*************************/
.content{
    background-color:red;
    padding-top:30px;
    padding-bottom: 50px;
}

th{
    font-size: 30px;
 
}
td{
    border: 3px solid black;
    font-size: 40px;
    
}


