
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Internet Language Translator</h2>

    <input type="text" name="inputWords" value="" id="inputWords" class="form-control" placeholder="Enter Message here..." maxlength="500"/>

    <div id="Result"></div>
    @section PageScripts{
        <script type="text/javascript" src="~/Scripts/WordTranslator.js"></script>
    }
</div>