@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Campus Requests</h1>
    <p class="lead">Here at (insert name) University we try to maintain the best standards and environments. We strive to make life on campus a great as can be.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Make Request</h2>
        <p>
            Have a issue we can solve? Make a request here and we will get to it as soon as possible.
        </p>
        <p>@Html.ActionLink("Make Request", "Create", "Home") &raquo;</p>
    </div>
    <div class="col-md-4">
        <h2>View Requests</h2>
        <p>View Requests made by Tennant.</p>
        <p>@Html.ActionLink("Make Request", "Display", "Home") &raquo;</p>
    </div>
</div>