
@{
    ViewBag.Title = "Converter";
}

<h2>Convert Miles to Metric</h2>

<div class="col-md-m6">


</div>
<div class ="col-md-m6">


</div>
<form action="/Home/Converter" method="get">
    <div class="col-md-6">
        <label for="miles">Miles:</label>
        <input type="number" id="miles" name="miles" step="0.01" max="10000000" min="-10000000" required>
    </div>
    <div class="col-md-6">
        <h4>Select a unit</h4>
        <hr/>
        <input type="radio" name="unit" value="millimeters" checked> Millimeters<br>
        <input type="radio" name="unit" value="centimeters" > Centimeters<br>
        <input type="radio" name="unit" value="meters" > Meters<br>
        <input type="radio" name="unit" value="kilometers" > Kilometers<br>
    </div>

    <div class="button text-center">
        <button type="submit">Convert</button>
    </div>
    @if(ViewBag.message != null)
    {
        <p>@ViewBag.message</p>
    }

    <hr />
</form>