@{
    ViewBag.Title = "Home Page CS 460 Homework 4";
}

<div class="jumbotron">
    <h1>CS 460 Homework 4</h1>
    <p class="lead">A few form and some simple server-side logic -- learning the basics of GET, POST, qeuery strings, form data and handiling it all from an ASP.NET MVC 5 application.</p>
    
</div>

<div class="row">

</div>