@{
    ViewBag.Title = "Home Page CS 460 Homework 4";
}

<div class="jumbotron">
    <h1>CS 460 Homework 4</h1>
    <p class="lead">A few form and some simple server-side logic -- learning the basics of GET, POST, qeuery strings, form data and handiling it all from an ASP.NET MVC 5 application.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">

    <div class="col-md-4">
        <h2>Color Chooser</h2>
        <p>Typical online color choosers are way too useful. We wanted something fun and completly useless.</p>
        <p class="btn btn-default">@Html.ActionLink("ColorChooser", "Create", "Color") &raquo;</p>
    </div>
</div>
